@font-face {
    font-family: "Oxygen";
    src: url("Oxygen/Oxygen-Regular.ttf");
}

@font-face {
    font-family: "Lora";
    src: url("Lora/Lora-Regular.ttf");
}

.begin{
    padding: 17px 250px 17px 250px;
    display: flex;
    color: #2e2e2e;
}

.begin a{
    margin: 10px 20px 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Oxygen";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6000000238418579px;
    text-align: left;
    color: #2E2E2E;
}

ul{
    list-style-type: none;
}

.begin li{
    display: inline;
}

.begin img{
    padding-right: 472px;
}

.heading{
    margin-top: 110px;
    margin-left: 250px;
    margin-right: 250px;
    width: 940px;
    height: 159px;
    padding: 0px, 218px, 75px, 218px;
}

h1{
    margin-top: -7px;
    margin-bottom: 0px;
    font-family: "Lora";
    font-size: 50px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
    color: #2e2e2e;
}

h2{
    font-family: "Oxygen";
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #2e2e2e;
    opacity: 0.63;
}

.image{
    margin-top: 40px;
    overflow: hidden;
}
.image img{
    padding: 0px;
    height: 534px;
    width: 100%;
    margin-top: -100px;
    margin-bottom: -100px;
}

.maintext{
    padding: 138px 240px 137px 240px;
    font-family: "Oxygen";
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #101315;
}

.end{
    background: 
		linear-gradient(rgba(35, 47, 56, 0.6), rgba(35, 47, 56, 0.6)), 
		url("BACKGROUND.jpg");
    background-position: center center;
    padding: 17px 250px 17px 250px;
    display: flex;
    color: #ffffff;
}

.end a{
    margin: 10px 20px 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Oxygen";
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: right;
    opacity: 0.6;
    color: #ffffff;
}

ul{
    list-style-type: none;
}

.end li{
    display: inline;
}

.end img{
    padding-right: 472px;
}
