* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
}

.navigation {
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation__list {
    width: 376px;
    display: flex;
    justify-content: space-around;
}

.header__navigation-item {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    color: #000000;
}

.heading {
    margin-top: 110px;
    margin-left: 250px;
    margin-right: 250px;
    width: 940px;
    height: 159px;
    padding: 0px, 218px, 75px, 218px;
}


.title {
    font-family: 'Lora', serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
    color: #2e2e2e;
}


.subtitle {
    margin-top: 20px;
    font-family: 'Oxygen', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #2e2e2e;
    opacity: 0.63;
}


.image {
    margin-top: 40px;
    overflow: hidden;
}


.image img {
    padding: 0px;
    height: 534px;
    width: 100%;
    margin-top: -100px;
    margin-bottom: -100px;
}


.maintext {
    padding: 138px 240px 137px 240px;
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #101315;
}

.footer {
    background:
    linear-gradient(rgba(35, 47, 56, 0.6), rgba(35, 47, 56, 0.6)),
    url(/images/footer_back.jpg);
    background-position: center;
    height: 90px;
}

.footer__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89px;
}

.footer__navigation-item {
    margin: 10px 20px 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    opacity: 0.6;
}